{% extends 'base.html.twig' %}



{% block body %}

    <h1> Search </h1>

    <div >
        {{ form_start(formSearch) }}
        {{ form_widget(formSearch) }}
        {{ form_end(formSearch) }}
    </div>
    <div>
        {% if users is defined %}
        {% for user in  users %}

                <div><a href="{{ '/user/'~user.id }}">
                    {{ user.profileName}}</a>
                </div>


        {% endfor %}
        {% endif %}
    </div>

{% endblock %}
